.restaurant {
  .tittleresto {
  }
  .restaurantbox {
    background-color: brown;
    width: 100%;
    height: 73px;
    .cardresto {
    }
    .imgresto {
    }
  }
  .card-title {
    .card-subtitle {
    }
    .iconNouveau {
    }
    .iconVector {
    }
  }
}
